.todo {
  width: 100%;
  max-height: 14.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: justify;

  padding: 1.6rem;
  gap: 1.2rem;
  
  background: var(--gray-500);

  border-color: var(--gray-400);
  border-style: solid;
  border-width: 1px;

  border-radius: 8px;
}


.todo p {
  min-width: 0;
  max-width: 100%;

  max-height: 7.2rem;
  
  overflow-wrap: break-word;
  overflow-y: auto;

  font-size: var(--size-xs);
}

#lineThrough {
  text-decoration: line-through;
  color: var(--gray-300)
};

#textNormal {
  line-height: 140%;
}


.buttonDelete {
  width: 2rem;
  height: 2rem;

  background: none;
  border: none;

  cursor: pointer;
}

#imageTrash {
  width: 2rem;
  height: 2rem;

  background-position: center;
  background-size: cover;
  object-fit: cover;

  background-image: url("../../assets/trash.svg");

  transition: .3s;
}

#imageTrash:hover {
  transition: .3s;

  background-image: url("../../assets/trash-hover.svg");
}


@media (min-width: 425px) {

  .buttonDelete, #imageTrash {
    width: 2.4rem;
    height: 2.4rem;
  }

  .todo p {
    font-size: var(--size-xm);
  }
}