.home {
  width: 100%;
  min-width: 32rem;

  height: 100vh;
}


.content {
  max-width: 76.8rem;
  
  margin: 0 auto auto auto;

  margin-top: -4.4rem;
  padding: 2rem;
}


.formToCreateList {
  display: flex;
  gap: .8rem;
}

.todoList {
  margin-top: 6.4rem;
}

.todoStatus {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.todoStatus p {
  font-size: var(--size-xs);
  font-weight: var(--weight-bold);
}

.todoStatus span {
  color: var(--gray-200);
  
  background: var(--gray-400);
  border-radius: 999px;

  padding: .2rem .8rem;
  margin-left: .8rem;
}


#blueTodoStatus {
  color: var(--blue-100);
}


#purpleTodoStatus {
  color: var(--purple-100);
}

.emptyTodoList {
  height: 24.4rem;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-top-color: var(--gray-400);
  border-top-width: 1px;
  border-top-style: solid;
  border-radius: 8px;

  margin-top: 2.4rem;
}


.emptyTodoList img {
  width: 5.6rem;
  height: 5.6rem;

  margin-bottom: 1.6rem;
}

.emptyTodoList p {
  font-size: var(--size-xs);
  color: var(--gray-300);

  line-height: 140%;
}

.emptyTodoList p span {
  font-weight: var(--weight-bold);
}

.showTodoList {
  margin-top: 2.4rem;
  list-style: none;
}

.showTodoList li {
  margin-bottom: 1.2rem;
}

@media (min-width: 425px) {
  .content {
    padding: 1.6rem;
  }

  .todoStatus p {
    font-size: var(--size-xm);
  }

  .emptyTodoList p {
    font-size: var(--size-xm);
  }
}