.buttonComplete, .buttonComplete div {
  width: 2rem;
  height: 2rem;
}


.buttonComplete {

  border: none;
  border-radius: 50%;

  background: none;
  
  cursor: pointer;
}


.buttonComplete div {

  background-position: center;
  background-size: cover;
  object-fit: cover;

  transition: .3s;
}


#imageCircleChecked {
  background-image: url("../../assets/circle-radio/circle-checked.svg");
}


#imageCircleChecked:hover {
  background-image: url("../../assets/circle-radio/circle-checked-hover.svg");
  transition: .3s;
}


#imageCircleUnchecked {
  background-image: url("../../assets/circle-radio/circle-unchecked.svg");
}


#imageCircleUnchecked:hover {
  background-image: url("../../assets/circle-radio/circle-unchecked-hover.svg");
  transition: .3s;
}


@media (min-width: 425px) {

  .buttonComplete, .buttonComplete div {
    width: 2.4rem;
    height: 2.4rem;
  }
}